In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql ibm_db_sa://rxl00035:rbr%2Bmmp2s25dkpv4@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB

'Connected: rxl00035@BLUDB'

In [4]:
import pandas
CENSUS_DATA = pandas.read_csv('https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv')
%sql PERSIST CENSUS_DATA
CHICAGO_PUBLIC_SCHOOLS = pandas.read_csv('https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv')
%sql PERSIST CHICAGO_PUBLIC_SCHOOLS
CHICAGO_CRIME_DATA = pandas.read_csv('https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv')
%sql PERSIST CHICAGO_CRIME_DATA

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB

'Persisted chicago_crime_data'

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [8]:
%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [9]:
%sql select * from CHICAGO_CRIME_DATA LIMIT 10

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(0, 3512276, 'HK587712', '08/28/2004 05:50:56 PM', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, Decimal('14.0'), Decimal('58.0'), '6', Decimal('1155838.0'), Decimal('1873050.0'), 2004, '02/10/2018 03:50:01 PM', '41.807440500000006', Decimal('-87.70395585000000'), '(41.8074405, -87.703955849)'),
 (1, 3406613, 'HK456306', '06/26/2004 12:40:00 PM', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, Decimal('27.0'), Decimal('23.0'), '6', Decimal('1152206.0'), Decimal('1906127.0'), 2004, '02/28/2018 03:56:25 PM', '41.89827996', Decimal('-87.71640551000000'), '(41.898279962, -87.716405505)'),
 (2, 8002131, 'HT233595', '04/04/2011 05:45:00 AM', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, Decimal('3.0'), Decimal('38.0'), '6', Decimal('1177436.0'), Decimal('1876313.0'), 2011, '02/10/2018 03:50:01 PM', '41.81593313', Decimal('-87.62464213000000'), '(41.815933131, -87.624642127)'),
 (3, 7903289, 'HT133522', '12/30/2010 04:30:00 PM', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 0, 0, 423, 4, Decimal('7.0'), Decimal('46.0'), '6', Decimal('1194622.0'), Decimal('1850125.0'), 2010, '02/10/2018 03:50:01 PM', '41.74366532', Decimal('-87.56246276000000'), '(41.743665322, -87.562462756)'),
 (4, 10402076, 'HZ138551', '02/02/2016 07:30:00 PM', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 0, 0, 831, 8, Decimal('15.0'), Decimal('66.0'), '6', Decimal('1155240.0'), Decimal('1860661.0'), 2016, '02/10/2018 03:50:01 PM', '41.773455299999995', Decimal('-87.70648047000000'), '(41.773455295, -87.706480471)'),
 (5, 7732712, 'HS540106', '09/29/2010 07:59:00 AM', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 0, 0, 1323, 12, Decimal('27.0'), Decimal('24.0'), '6', Decimal('1171668.0'), Decimal('1905607.0'), 2010, '02/10/2018 03:50:01 PM', '41.89644677', Decimal('-87.64493868000000'), '(41.896446772, -87.644938678)'),
 (6, 10769475, 'HZ534771', '11/30/2016 01:15:00 AM', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 1713, 17, Decimal('33.0'), Decimal('14.0'), '6', Decimal('1154133.0'), Decimal('1933314.0'), 2016, '02/10/2018 03:50:01 PM', '41.97284491', Decimal('-87.70860008000000'), '(41.972844913, -87.708600079)'),
 (7, 4494340, 'HL793243', '12/16/2005 04:45:00 PM', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 1, 0, 213, 2, Decimal('3.0'), Decimal('38.0'), '6', Decimal('1180448.0'), Decimal('1879234.0'), 2005, '02/28/2018 03:56:25 PM', '41.82387989', Decimal('-87.61350386000000'), '(41.823879885, -87.613503857)'),
 (8, 3778925, 'HL149610', '01/28/2005 05:00:00 PM', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 2211, 22, Decimal('19.0'), Decimal('72.0'), '6', Decimal('1160129.0'), Decimal('1838040.0'), 2005, '02/28/2018 03:56:25 PM', '41.71128051', Decimal('-87.68917909999999'), '(41.711280513, -87.689179097)'),
 (9, 3324217, 'HK361551', '05/13/2004 02:15:00 PM', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 0, 0, 1733, 17, Decimal('35.0'), Decimal('21.0'), '6', Decimal('1153590.0'), Decimal('1921084.0'), 2004, '02/28/2018 03:56:25 PM', '41.93929582', Decimal('-87.71092344000000'), '(41.939295821, -87.710923442)')]

### Problem 3

##### How many crimes involve an arrest?

In [10]:
%sql select count(*) from CHICAGO_CRIME_DATA where ARREST=1

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

In [12]:
%sql select distinct(DESCRIPTION) from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION = 'GAS STATION'

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('$500 AND UNDER',),
 ('AGGRAVATED',),
 ('ARMED: HANDGUN',),
 ('FROM BUILDING',),
 ('POSS: CANNABIS 30GMS OR LESS',),
 ('TO LAND',)]

### Problem 5

##### In the CENSUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [13]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NAME like 'B%'

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [14]:
%sql select NAME_OF_SCHOOL from CHICAGO_PUBLIC_SCHOOLS \
    where COMMUNITY_AREA_NUMBER BETWEEN 10 AND 15 \
    AND HEALTHY_SCHOOL_CERTIFIED = 'Yes'

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

### Problem 7

##### What is the average school Safety Score?

In [15]:
%sql select AVG(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.5048732943469785575048732943'),)]

### Problem 8

##### List the top 5 Community Areas by average College Enrollment [number of students]

In [16]:
%sql select Community_Area_Name, avg(College_Enrollment) as avg_ENROLLMENT \
   from CHICAGO_PUBLIC_SCHOOLS \
   group by Community_Area_Name \
   order by avg_ENROLLMENT asc \
   fetch first 5 rows only

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('OAKLAND', Decimal('140.000000')),
 ('CALUMET HEIGHTS', Decimal('261.333333')),
 ('FULLER PARK', Decimal('265.500000')),
 ('NORTH LAWNDALE', Decimal('321.625000')),
 ('PULLMAN', Decimal('324.000000'))]

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [17]:
%sql select COMMUNITY_AREA_NAME from CHICAGO_PUBLIC_SCHOOLS \
    where SAFETY_SCORE = (select min(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS)

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK',)]

### Problem 10

##### [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [20]:
%sql select PER_CAPITA_INCOME from CENSUS_DATA \
    where COMMUNITY_AREA_NAME = \
    (select COMMUNITY_AREA_NAME from CHICAGO_PUBLIC_SCHOOLS where SAFETY_SCORE=1)

 * ibm_db_sa://rxl00035:***@dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[]