In [1]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [2]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [5]:
A = set(["Thriller", "Back in Black", "AC/DC"])
A.add("NSYNC")
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [4]:
"AC/DC" in A

True

In [6]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [7]:
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [8]:
album_set1.difference(album_set2)

{'Thriller'}

In [9]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [10]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [11]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [12]:
set(album_set1).issuperset(album_set2)

False

In [13]:
set(album_set2).issubset(album_set1)

False

In [14]:
set(['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

In [18]:
A = [1, 2, 2, 1] 
B = set([1, 2, 2, 1])
sum(A), sum(B), A, B

(6, 3, [1, 2, 2, 1], {1, 2})

In [20]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2) 
album_set1.issubset(album_set3)

True